CenturyGothic@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}
/* анимация канва */
::-webkit-scrollbar{
  display: none;
}

body {
  height: 100%;
  margin: 0;
  /* width: 1440px; */
}





.container{
    width: 1181px;
    margin: 0px 128px;


}

/* .container--small{
    width: 1179px;
    height: 620px;
} */

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

p{
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a{
    text-decoration: none;
}
/* шапка сайта */

.header{
  height: 70px;
}

.header__row{
	display: flex;
	justify-content: space-between;
	align-items: center;
  height: 70px;
}
.header__menu{
  margin-left: 100px;
}
.nav__list{
	display: flex;
}
.nav__title1{
  color: #8B0084;
}

.nav__item{
	margin-right: 62px;
}
.nav__item:last-child{
	margin-right: 0px;
}

.nav__link{
	display: flex;
	align-items: center;
	color: black;
	font-family: "CenturyGothic", sans-serif;
  font-style: normal;
	font-size: 15px;
	/* text-transform: uppercase; */
	position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
  text-decoration: none; /*убираем подчёркивание*/

}
.nav__link:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #8B0084; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
  top: 20px;
}

.nav__link:hover:after,
.nav__link:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.nav__link:hover{
  color: #8B0084;
}

.contacts__phone{
	color: black;
	font-family: "CenturyGothic", sans-serif;
	font-weight: normal;
	font-size: 15px;
  margin-right: 60px;
}
.contacts__phone:hover{
  color: #8B0084;
}
.button {
  border: 2px solid #8B0084;
  border-radius: 21.0169px;
  color: #8B0084;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.button:hover{
  opacity: 50%;
}




.container_parallax{
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 60px;
}
.container_parallax p{
  z-index: 1;
  position: relative;
  color: #8B0084;
  line-height: 30px;
}

.container_parallax img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.more{
  font-family: "CenturyGothic", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #8B0084;
  transition: all 0.5s;
  cursor: pointer;
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.more:hover{
  opacity: 60%;
}
@keyframes slidein {
  from {
    margin-left: 3%;
  }

  to {
    margin-left: 0%;
  }
}
.more:hover{
    animation-play-state: paused;
}

.button_about {
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 25px;
  transition: all 0.5s;
  cursor: pointer;
  /* animation: 3s linear 1s infinite alternate slidein; */
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: 3%;
  }

  to {
    margin-left: 0%;
  }
}

.button_about span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.button_about span:after {
  content: '\003E';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_about:hover span {
  padding-right: 15px;
  /* animation-play-state: paused; */
}

.button_about:hover span:after {
  opacity: 1;
  right: 0;
}
.box_button:hover .button_about{
    animation-play-state: paused;
}


/* @media (max-width:800px){
  .container_parallax p{

  }
} */


.fon{
  width: 100%;
  height: 40px;
}
.underline_7{
  border: 1px solid black;
  width: 1180px;
  margin-left: 128px;
}
/* footer */
footer{
  width: 1440px;
  margin: 0 auto;
  background-color: white;
}
.container__footer{
  margin-left: 82px;
  background-color: white;
}
.footer__copyright{
  margin-top: 28px;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: black;
  line-height: 50px;
  text-align: center;
  padding: 8px;
  width: 554px;
  height: 66px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 33px;
  background-color: white;
}

.form{
  margin-left: 898px;
  margin-top: -25px;
  background-color: white;
}
.inputs{
  background-color: white;
}
.input{
  border: none;
  width: 281px;
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  text-decoration-color: rgba(0, 0, 0, 40%);
  background-color: white;
}
.submit{
  background: none;
  border: 2px solid #8B0084;
  border-radius: 21.0169px;
  color: #8B0084;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
}
.submit:hover{
  opacity: 50%;
}
.submit1{
  background-color: white;
}

.underline5{
  position: absolute;
  margin-top: 30px;
  margin-left: 5px;
  border: 1px solid black;
  width: 1180px;
  background-color: white;
}


.footer{
  display: flex;
  width: 1350px;
  margin: 0 auto;
  background-color: white;
}
.footer__logo{
  margin-left: -7px;
  margin-top: 50px;
  background-color: white;
}
.logo1{
  background-color: white;
}
.logo2{
  background-color: white;
}

.socials{
  margin-top: 65px;
  margin-left: -1px;
  color: black;
  font-family: "CenturyGothic", sans-serif;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 180px;
}
.create span{
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
}


.social__list{
  margin-top: -130px;
  margin-left: 600px;
  text-decoration: none;
  font-family: "CenturyGothic", sans-serif;
  font-weight: normal;
  font-size: 15px;

}

.address{
  margin-bottom: 80px;

}
.create{
  background-color: white;
}
.tel{

}
.social__list1{
  margin-top: -150px;
  margin-left: 898px;
  text-decoration: none;
  font-family: "CenturyGothic", sans-serif;
  font-weight: normal;

}
