CenturyGothic@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{padding: 0px, margin:0px;}
/* анимация канва */
::-webkit-scrollbar{
  display: none;
}
#c1{
  background: hsl(35, 100%, 50%);
  width: 1181px;
  height: 680px;
  margin-left: 128px;
  position: absolute;
  z-index: -1;
}
canvas{
  display: block;
  /* background: hsl(35, 100%, 50%); */
  width: 100%;
  height: 30%;
}
body {
  height: 100%;
  margin: 0;
  /* width: 1440px; */
}





.container{
    width: 1181px;
    margin: 0px 128px;


}

/* .container--small{
    width: 1179px;
    height: 620px;
} */

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

p{
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a{
    text-decoration: none;
}
/* шапка сайта */

.header{
  height: 70px;
}

.header__row{
	display: flex;
	justify-content: space-between;
	align-items: center;
  height: 70px;
}
.header__menu{
  margin-left: 100px;
}
.nav__list{
	display: flex;
}

.nav__item{
	margin-right: 62px;
}
.nav__item:last-child{
	margin-right: 0px;
}

.nav__link{
	display: flex;
	align-items: center;
	color: black;
	font-family: "CenturyGothic", sans-serif;
  font-style: normal;
	font-size: 15px;
	/* text-transform: uppercase; */
	position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
  text-decoration: none; /*убираем подчёркивание*/

}
.nav__link:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #8B0084; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
  top: 20px;
}

.nav__link:hover:after,
.nav__link:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.nav__link:hover{
  color: #8B0084;
}

.contacts__phone{
	color: black;
	font-family: "CenturyGothic", sans-serif;
	font-weight: normal;
	font-size: 15px;
  margin-right: 60px;
}
.contacts__phone:hover{
  color: #8B0084;
}
.button {
  border: 2px solid #8B0084;
  border-radius: 21.0169px;
  color: #8B0084;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.button:hover{
  opacity: 50%;
}





/* боди */
.rectangle{
  /* background: hsl(35, 100%, 50%); */
  width: 100%;
  height: 30%;
  /* background: hsl(35, 100%, 50%); */
  /* width: 80%;
  height: 60%; */
  margin: 0 auto auto 5%;
 /* Отредактировать перемещение текста при сжатии окна */
}
.title{
  /* width: 1440px;
  margin: 5% auto auto 20%; */
  width: 1181px;
  height: 680px;
  position: absolute;
  margin-left: 224px;
  margin-top: 74px;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: white;
  z-index: 1;
  margin-top: 80px;
  margin-left: 155px;
}
.about{
  margin-left: 790px;
  margin-top: 150px;
}
.button_about {
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 25px;
  transition: all 0.5s;
  cursor: pointer;
  /* animation: 3s linear 1s infinite alternate slidein; */
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: 3%;
  }

  to {
    margin-left: 0%;
  }
}

.button_about span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.button_about span:after {
  content: '\003E';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_about:hover span {
  padding-right: 15px;
  /* animation-play-state: paused; */
}

.button_about:hover span:after {
  opacity: 1;
  right: 0;
}
.box_button:hover .button_about{
    animation-play-state: paused;
}






/* События ресторана */
.wrapper{
  z-index: 2;
  width: 1440px;
  margin: 0;

}



.blur   {
    filter: blur(50px);
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
}
#overlay    {
    position: fixed;
    z-index: 200000;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,.8);
}
#popup {
    position: absolute;
    z-index: 999999;
    width: 400px;
    height: 200px;
    background: rgb(255,255,255);
    border: 2px solid rgb(0,0,0);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.signup{
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #8B0084;
  text-align: center;
  opacity: 100%;
}
.signup .close{
  left: 50px;
}
.close{
  width: 20px;
  height: 20px;
  margin-left: 340px;
}
.line{
  border-left: 10px;
  border-bottom: 5px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  color: black;
}
.line:hover{
  color: #8B0084;
  border-bottom: 1px solid #8B0084;
}




.developments{
  display:flex;
  margin-left: 0px;
  /* margin-top: 615px; */
  /* margin-right:50px; */
  width: 100%;
}
.developments_content_1{
  display: block;
  grid-template-columns:
  width: 100%;
  margin-left: 128px;
  margin-top: 615px;
}
.news_content_h1{
  /* margin-left: 50px; */
  margin-top: 145px;
  margin-right: 0px;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: black;
}
.news_content_h2{
  /* margin-left: 50px; */
  padding-top: 45px;
  margin: 0px;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
}
.news_content_h3{
  margin: 0px;
  padding-top: 36px;
  width: 480px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: black;
}
.price_content{
  margin-left: 896px;
  margin-top: -113px;
  margin-right: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #8B0084;
}
.emotions_content{
  margin-left: 896px;
  margin-top: 8px;
  margin-right: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: black;
  opacity: 60%;
}
.poster_1{
  position: absolute;
  margin-left: 896px;
  margin-top: -126px;
}
.date_content{
  width: 181px;
  margin-top: 115px;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
}
.time_content{
  margin-top: 40px;
}
.time__list{
  text-decoration: none;
  line-height: 48px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 15px;
  opacity: 60%;
}
.time__title{
  border-left: 10px;
  border-bottom: 5px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  color: black;
}
.time__title:hover{
  color: #8B0084;
  border-bottom: 1px solid #8B0084;
}
.underline{
  margin-top: 140px;
  border: 1px solid black;
  width: 1180px;
}


.developments_content_2{
  width: 100%;
  margin-left: 128px;
}
.price_content2{
  margin-left: 896px;
  margin-top: -95px;
  margin-right: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #8B0084;
}
.poster_2{
  position: absolute;
  margin-left: 896px;
  margin-top: -260px;
  z-index: -1;
}
.underline2{
  margin-top: 190px;
  border: 1px solid black;
  width: 1180px;
}
.button2{
  margin-top: 60px;
  border: 2px solid #8B0084;
  border-radius: 21.0169px;
  color: #8B0084;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.button2:hover{
  opacity: 50%;
}
.developments_content_3{
  width: 100%;
  margin-left: 128px;
}
.news_content_h4{
  margin: 0px;
  padding-top: 36px;
  width: 480px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: black;
}
.date_content2{
  width: 181px;
  margin-top: 210px;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
}
.colortext{
  color: #8B0084;
}
.buttons{
  text-decoration: none;

}
.button3{
  margin-top: 60px;
  border: 2px solid #8B0084;
  border-radius: 21.0169px;
  color: #8B0084;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.button3:hover{
  opacity: 50%;
}
/* .button4{
  margin-top: 25px;
  border: 2px solid #8B0084;
  border-radius: 21.0169px;
  color: #8B0084;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.button4:hover{
  opacity: 50%;
} */
.price_content3{
  margin-left: 896px;
  margin-top: -200px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #8B0084;
}
.poster_3{
  position: absolute;
  margin-left: 896px;
  margin-top: -310px;
  z-index: -1;
}
.underline3{
  margin-top: 50px;
  border: 1px solid black;
  width: 1180px;
}


/* анимация кругов */
.wrap {
  width: 1180px;
  height: 680px;
  margin-left: 128px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  /* background-image: linear-gradient(-206deg, #835EFF 0%, #FF008D 100%); */
}
#bubbles{
  margin-left: 128px;
  position: absolute;


}

.underline4{
  position: absolute;
  margin-top: 200px;
  margin-left: 128px;
  border: 1px solid black;
  width: 1180px;
}



/* footer */
footer{
  width: 1440px;
  margin: 0 auto;
}
.container__footer{
  margin-left: 82px;
  margin-top: 228px;
}
.footer__copyright{
  margin-top: 35px;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: black;
  line-height: 50px;
  text-align: center;
  padding: 8px;
  width: 554px;
  height: 66px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 33px;
}

.form{
  margin-left: 898px;
  margin-top: -25px;
  position: absolute;

}
.input{
  border: none;
  width: 281px;
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  text-decoration: none;
  background-color: transparent;
}
.submit{
  /* margin-top: 60px; */
  background: none;
  border: 2px solid #8B0084;
  border-radius: 21.0169px;
  color: #8B0084;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.submit:hover{
  opacity: 50%;
}

.button-subscribe{
  background: none;
  margin-top: 60px;
  border: 2px solid #8B0084;
  border-radius: 21.0169px;
  color: #8B0084;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  font-family: "CenturyGothicBold", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.button-subscribe:hover{
  opacity: 50%;
}


.underline5{
  position: absolute;
  margin-top: 80px;
  margin-left: 0px;
  border: 1px solid black;
  width: 1180px;
}


.footer{
  display: flex;
  width: 1350px;
  margin: 0 auto;
}
.footer__logo{
  margin-left: -16px;
  margin-top: 120px;
}
.socials{
  margin-top: 60px;
  color: black;
  font-family: "CenturyGothic", sans-serif;
  font-weight: normal;
  font-size: 15px;
}
.create span{
  font-family: "CenturyGothic", sans-serif;
  font-weight: bold;
}

.social__list{
  margin-top: -130px;
  margin-left: 600px;
  text-decoration: none;
  /* line-height: 48px; */
  font-family: "CenturyGothic", sans-serif;
  font-weight: normal;
  font-size: 15px;
}
li{
  border-left: 10px;
  color: black;
}
.address{
  margin-bottom: 80px;
}

.social__list1{
  margin-top: -152px;
  margin-left: 898px;
  text-decoration: none;
  /* line-height: 48px; */
  font-family: "CenturyGothic", sans-serif;
  font-weight: normal;
  font-size: 15px;
}
/* .social__list{
  display: flex;
	justify-content: space-between;
	align-items: center;
  height: 70px; */
}
/* .socials{
  display: flex;
	justify-content: space-between;
	align-items: center;
  height: 70px;
} */
/* li{
  margin-bottom: 100px;
} */





























/*
.news__wrapper{
	display:flex;
	justify-cotent:space-between;
}
.news__title{
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size:49px;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	margin-bottom:23px;
	text-align: center;
}
.last-news__item{
	margin-bottom:20px;
}
.new__img{
	border-radius:50%;
}

.new{
	display:flex;
}
.new__avatar{
	margin-right:10px;
}
.new__date{
	color:#808080;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	margin-bottom:10px;
}
.last-news{
	mar:30px;
}
.new__title{
	color:#221F1F;
	font-size:16px;
	font-family:'Open Sans', sans-serif;
	margin-bottom:10px;
	font-weight:bold;
}
.new__desc{
	color:black;
	font-size:18px;
	font-family:'Open Sans', sans-serif;
	line-height:30px;
	font-weight:lighter;


}
.top-news__top{
	color:#221F1F;
	font-size:12px;
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
	letter-spacing:3px;
	font-weight:bottom;
	margin-bottom:5px;

}
.top-news__date{
	color:#7a7979;
	font-size:12px;
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
	letter-spacing:3px;
	font-weight:bold;
	margin-bottom:15px;
}
.top-news__item{

}
.footer__copyright{
	color:white;

}
.footer__socials{
	color:white;
}
.footer__logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.container__footer{
	display:flex;
	justify-content:space-between;
}
.container__footer{
	background-color: #131415;
}
.social__list{
	display:flex;
}
.socials__img{

	border-radius: 50%;
	background-color:gray;
	height: 20px;
	width: 20px;
	align-items:center;
	display:flex;
}
.socials__icon{
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;

}

.feedback__content{
	background-color: grey;
	padding:40px 70px 50px 70px;
}
.feedback__title{
	color:#221f1f;
	font-size:49px;
	font-family:'Open Sans', sans-serif;
	margin-bottom:23px;
	font-weight:bold;
	letter-spacing:1.3p;
	text-transform:uppercase;
	text-align:center;
}
.form__row{
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;

}
.form__col{
	width:400px;
}

.form__input{
	width:100%;
	background-color:white;
	border-radius:2px;
	padding:15px 10px;
	border:transparent;

}

.form__label{
	color:black;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	margin-bottom:10px;
	font-weight:lighter;
}
.form__textarea{
	width:100% px;
}
.form__button{
	padding:20px;
	border-radius: 3px;
	border:none;
	font-family:'Open Sans', sans-serif;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	color:white;
	background:#lclfld;
	cursor:pointer;
	letter-spacing: 1px;
	transition: 0.3s;

}
.form__button:hover{
	background: #f89b21;
	transition: 0.3s;
} */
