@import "responsive.css";
body{
  background-color: #F3F6FF;
  width: 100vw;
  /* height: 100vw; */
}
/* .all{
  padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1440 - 320)));
} */

.twotubes{
  position: absolute;
  left: 78px;
  top: 417px;

}
.logo{
  position: absolute;
  left: 41px;
  top: 34px;

}
.bluewire{
  position: absolute;
  left: 559px;
  top: 420px;
}
.adapter{
  position: absolute;
  left: 510px;
  top: 392px;

}
.flask{
  position: absolute;
  left: 202px;
  top: 117px;
}

svg {
    /* height: 50vmin;
    width: 50vmin; */
    /* height: 500px;
    width: 900px; */
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 400px;
    left: 190px;
    top: 290px;
}
.svg1{
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 400px;
  left: 180px;
  top: 635px;
  fill: none;
  stroke: url(#stripes);
  stroke:#FF9400;
  stroke-width: 4;
  stroke-dasharray: 990 0;
  animation: dasharray 5s infinite alternate;
}
@keyframes dasharray{
  100%{
    stroke-dasharray: 0 900;
  }
}

@-webkit-keyframes move {
  0% {
    transform: translateX(0px) translateY(0px);
    -webkit-animation-timing-function: cubic-bezier(0.15, 0.95, 0.7, 0.34);
            animation-timing-function: cubic-bezier(0.15, 0.95, 0.7, 0.34);
  }
  10% {
    transform: translateX(6px) translateY(2px);
    -webkit-animation-timing-function: cubic-bezier(0.75, 0.08, 0.42, 0.73);
            animation-timing-function: cubic-bezier(0.75, 0.08, 0.42, 0.73);
  }
  20% {
    transform: translateX(11px) translateY(-10px);
    -webkit-animation-timing-function: cubic-bezier(0.75, 0.08, 0.25, 0.29);
            animation-timing-function: cubic-bezier(0.75, 0.08, 0.25, 0.29);
  }
  30% {
    transform: translateX(5px) translateY(-5px);
    -webkit-animation-timing-function: cubic-bezier(0.31, 0.86, 0.93, 0.24);
            animation-timing-function: cubic-bezier(0.31, 0.86, 0.93, 0.24);
  }
  40% {
    transform: translateX(6px) translateY(2px);
    -webkit-animation-timing-function: cubic-bezier(0.91, 0.08, 0.31, 0.76);
            animation-timing-function: cubic-bezier(0.91, 0.08, 0.31, 0.76);
  }
  50% {
    transform: translateX(-2px) translateY(8px);
    -webkit-animation-timing-function: cubic-bezier(0.73, 0.02, 0.7, 0.31);
            animation-timing-function: cubic-bezier(0.73, 0.02, 0.7, 0.31);
  }
  60% {
    transform: translateX(10px) translateY(15px);
    -webkit-animation-timing-function: cubic-bezier(0.73, 0.02, 0, 0.75);
            animation-timing-function: cubic-bezier(0.73, 0.02, 0, 0.75);
  }
  70% {
    transform: translateX(0px) translateY(4px);
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.63, 0.39, 0.81);
            animation-timing-function: cubic-bezier(0.39, 0.63, 0.39, 0.81);
  }
  80% {
    transform: translateX(4px) translateY(-1px);
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.63, 0.85, 0.6);
            animation-timing-function: cubic-bezier(0.39, 0.63, 0.85, 0.6);
  }
  90% {
    transform: translateX(0px) translateY(0px);
    -webkit-animation-timing-function: cubic-bezier(0.59, 0.08, 0.05, 0.83);
            animation-timing-function: cubic-bezier(0.59, 0.08, 0.05, 0.83);
  }
  100% {
    transform: translateX(1px) translateY(2px);
    -webkit-animation-timing-function: cubic-bezier(0.21, 0.77, 0.47, 0.75);
            animation-timing-function: cubic-bezier(0.21, 0.77, 0.47, 0.75);
  }
}
@keyframes move {
  0% {
    transform: translateX(0px) translateY(0px);
    -webkit-animation-timing-function: cubic-bezier(0.15, 0.95, 0.7, 0.34);
            animation-timing-function: cubic-bezier(0.15, 0.95, 0.7, 0.34);
  }
  10% {
    transform: translateX(6px) translateY(2px);
    -webkit-animation-timing-function: cubic-bezier(0.75, 0.08, 0.42, 0.73);
            animation-timing-function: cubic-bezier(0.75, 0.08, 0.42, 0.73);
  }
  20% {
    transform: translateX(11px) translateY(-10px);
    -webkit-animation-timing-function: cubic-bezier(0.75, 0.08, 0.25, 0.29);
            animation-timing-function: cubic-bezier(0.75, 0.08, 0.25, 0.29);
  }
  30% {
    transform: translateX(5px) translateY(-5px);
    -webkit-animation-timing-function: cubic-bezier(0.31, 0.86, 0.93, 0.24);
            animation-timing-function: cubic-bezier(0.31, 0.86, 0.93, 0.24);
  }
  40% {
    transform: translateX(6px) translateY(2px);
    -webkit-animation-timing-function: cubic-bezier(0.91, 0.08, 0.31, 0.76);
            animation-timing-function: cubic-bezier(0.91, 0.08, 0.31, 0.76);
  }
  50% {
    transform: translateX(-2px) translateY(8px);
    -webkit-animation-timing-function: cubic-bezier(0.73, 0.02, 0.7, 0.31);
            animation-timing-function: cubic-bezier(0.73, 0.02, 0.7, 0.31);
  }
  60% {
    transform: translateX(10px) translateY(15px);
    -webkit-animation-timing-function: cubic-bezier(0.73, 0.02, 0, 0.75);
            animation-timing-function: cubic-bezier(0.73, 0.02, 0, 0.75);
  }
  70% {
    transform: translateX(0px) translateY(4px);
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.63, 0.39, 0.81);
            animation-timing-function: cubic-bezier(0.39, 0.63, 0.39, 0.81);
  }
  80% {
    transform: translateX(4px) translateY(-1px);
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.63, 0.85, 0.6);
            animation-timing-function: cubic-bezier(0.39, 0.63, 0.85, 0.6);
  }
  90% {
    transform: translateX(0px) translateY(0px);
    -webkit-animation-timing-function: cubic-bezier(0.59, 0.08, 0.05, 0.83);
            animation-timing-function: cubic-bezier(0.59, 0.08, 0.05, 0.83);
  }
  100% {
    transform: translateX(1px) translateY(2px);
    -webkit-animation-timing-function: cubic-bezier(0.21, 0.77, 0.47, 0.75);
            animation-timing-function: cubic-bezier(0.21, 0.77, 0.47, 0.75);
  }
}
circle {
  -webkit-animation: move 15s linear infinite;
          animation: move 15s linear infinite;
}
#my-mask-1 circle:nth-of-type(1) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
#my-mask-1 circle:nth-of-type(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
#my-mask-1 circle:nth-of-type(3) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
#my-mask-1 circle:nth-of-type(4) {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}
#my-mask-1 circle:nth-of-type(5) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
#my-mask-1 circle:nth-of-type(6) {
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}
#my-mask-1 circle:nth-of-type(7) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
#my-mask-2 circle:nth-of-type(7) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
#my-mask-2 circle:nth-of-type(6) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
#my-mask-2 circle:nth-of-type(5) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
#my-mask-2 circle:nth-of-type(4) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
#my-mask-2 circle:nth-of-type(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}
#my-mask-2 circle:nth-of-type(2) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}
#my-mask-2 circle:nth-of-type(1) {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.three_circles1{
  position: absolute;

  width: 40px;
  height: 40px;
  left: 189px;
  top: 408px;
  background: #000000;
  border-radius: 25px;
  border: 0.5px solid black;
  animation: blink_circles 1s infinite alternate;
  transition: 0.9s;
}
@keyframes blink_circles {
from { background-color: black;}
to { background-color: #8B0084; }
}
.three_circles2{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  left: 248px;
  top: 408px;
  background: #000000;
  border-radius: 25px;
  border: 0.5px solid black;
  animation: blink_circles2 2s infinite alternate;
  transition: 1.8s;
}
@keyframes blink_circles2 {
from { background-color: black;}
to { background-color: #FFEA64; }
}
.three_circles3{
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  left: 216px;
  top: 408px;
  background: #000000;
  border-radius: 25px;
  border: 0.5px solid black;
  animation: blink_circles3 1.8s infinite alternate;
  transition: 1s;
}
@keyframes blink_circles3 {
from { background-color: black;}
to { background-color: #FF9400; }
}
.rectangle{
  position: absolute;
  width: 26px;
  height: 470px;
  left: 222px;
  top: 113px;
  background: #DADADC;
  border: 0.5px solid #000000;
  border-radius: 13px;
}
.rectangle1{
  position: absolute;
  width: 369px;
  height: 234px;
  left: 196px;
  top: 637px;
  background: #000000;
  border-radius: 24px;
}
.lattice2{
  position: absolute;
  left: 196px;
  top: 637px;
}
.arcs{
  position: absolute;
  left: 235px;
  top: 642px;
}
.circles_graphics1{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 209px;
  top: 681px;
  background: #FEFEFE;
  border: 0.5px solid #000000;
  border-radius: 25px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce-1;
  animation-timing-function: ease;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.circles_graph1:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(30px); }
  100% { transform: translateY(0); }
}
.circles_graphics2{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 308px;
  top: 724px;
  background: #8FA2D0;
  border: 0.5px solid #000000;
  border-radius: 25px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce-2;
  animation-timing-function: ease;
}
@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(30px); }
  100% { transform: translateY(0); }
}
.circles_graphics3{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 359px;
  top: 779px;
  background: #BA8FB8;
  border: 0.5px solid #000000;
  border-radius: 25px;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce-3;
  animation-timing-function: ease;
}
@keyframes bounce-3 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(38px); }
  100% { transform: translateY(0); }
}
.circles_graphics4{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 410px;
  top: 692px;
  background: #554A6C;
  border: 0.5px solid #000000;
  border-radius: 25px;
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce-4;
  animation-timing-function: ease;
}
@keyframes bounce-4 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(20px); }
  75%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
.circles_graphics5{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 460.06px;
  top: 647.31px;
  background: #1D3662;
  border: 0.5px solid #000000;
  border-radius: 25px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(18px); }
  100% { transform: translateY(0); }
}
.circles_graphics6{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 514.5px;
  top: 642.86px;
  background: #E4D88C;
  border: 0.5px solid #000000;
  border-radius: 25px;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(20px); }
  100% { transform: translateY(0); }
}
.capsule{
  position: absolute;
  left: 434px;
  top: 800px;
}
.rectangle2{
  position: absolute;
  width: 28px;
  height: 29px;
  left: 222px;
  top: 570px;
  background: black;
}
.rectangle3{
  position: absolute;
  width: 368px;
  height: 38px;
  left: 195px;
  top: 599px;
  background: #554A6C;
  border: 0.5px solid #000000;
}
.button{
  position: absolute;
  left: 488px;
  top: 607px;
  cursor: pointer;
}
.button-1{
  position: absolute;
  left: 491px;
  top: 610px;
  opacity: 30%;
  cursor: pointer;
}
.button-1:hover{
  opacity: 100%;
}
.button2{
  position: absolute;
  left: 512px;
  top: 607px;
  cursor: pointer;
}
.button2-1{
  position: absolute;
  left: 515px;
  top: 610px;
  opacity: 30%;
  cursor: pointer;
}
.button2-1:hover{
  opacity: 100%;
}
.button3-1{
  position: absolute;
  width: 22px;
  height: 22px;
  left: 536px;
  top: 607px;
  background: black;
  border-radius: 25px;
  cursor: pointer;
}
.button3-2{
  position: absolute;
  width: 15px;
  height: 15px;
  left: 539.5px;
  top: 610.5px;
  background: #FFEA64;
  border-radius: 25px;
  cursor: pointer;
}
.button3-2:hover{
    background: red;
}
.button3-1:hover~.button3-2{
  background: red;
}
.rectangle4{
  position: absolute;
  width: 309px;
  height: 25px;
  left: 194px;
  top: 160px;
  background: #DADADC;
  border: 0.5px solid #000000;
}
.round{
  position: absolute;
  width: 51px;
  height: 51px;
  left: 209px;
  top: 144px;
  background: #000000;
  border-radius: 50px;
}
.rectangle5{
  position: absolute;
  width: 21px;
  height: 21px;
  left: 224px;
  top: 158px;
  background: #FFEA64;
  transform: rotate(45deg);
}
.drop{
  position: absolute;
  left: 735px;
  top: 290px;
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
  animation-name: fall;
  animation-timing-function: ease;
}
@keyframes fall {
  0%   { transform: translateY(0); }
  100% { transform: translateY(300px); }
}
.dropper1{
  position: absolute;
  width: 31px;
  height: 56px;
  left: 733px;
  top: 276px;
  background: #58A859;
  border: 0.5px solid #000000;
  border-radius: 24px;
}
.rectangle9{
  position: absolute;
  width: 75px;
  height: 23px;
  left: 710px;
  top: 263px;
  background: #DADADD;
  border: 0.5px solid #000000;
}
.dropper{
  position: absolute;
  width: 162px;
  height: 41px;
  left: 667px;
  top: 225px;
  background: #FF9400;
  border: 0.5px solid #000000;
}
.wrapper{
  position: absolute;
  left: 684px;
  top: 224px;
}
.elementstostring{
  background: black;
  width: 16px;
  height: 30px;
  left: 684.06px;
  top: 224.62px;
  margin: 0 10px 10px 0; /* Отступы */
  display: inline-block; /* Строчно-блочный элемент */
}
.tripod{
  position: absolute;
  width: 24px;
  height: 641px;
  left: 645px;
  top: 221px;
  background: #DADADD;
  border: 0.5px solid #000000;
}
.tripod1{
  position: absolute;
  width: 24px;
  height: 598px;
  left: 827px;
  top: 223px;
  background: #DADADD;
  border: 0.5px solid #000000;
}
.spring{
  position: absolute;
  width: 315px;
  height: 110px;
  left: 574px;
  top: 760px;
}
.lever{
  position: absolute;
  width: 146px;
  height: 239px;
  left: 818px;
  top: 499px;
}

.hand{
  position: absolute;
  left: 839px;
  top: 506px;
  z-index: 1;
}
.bubble1{
  position: absolute;
  width: 54px;
  height: 54px;
  left: 762px;
  top: 480px;
  background: rgba(188, 116, 190, 0.55);
  border-radius: 25px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: up;
  animation-timing-function: ease;
}
@keyframes up {
  0%   { transform: translate(0,0); }
  100%  { transform: translate(30px, -200px); }
  100% {opacity: 0}
}
.bubble2{
  position: absolute;
  width: 54px;
  height: 54px;
  left: 740px;
  top: 480px;
  background: rgba(188, 116, 190, 0.55);
  border-radius: 25px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: up1;
  animation-timing-function: ease;
}
@keyframes up1 {
  0%   { transform: translate(0,0); }
  100%  { transform: translate(60px, -240px); }
  100% {opacity: 0}
}
.bubble3{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 690px;
  top: 480px;
  background: rgba(188, 116, 190, 0.55);
  border-radius: 25px;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: up2;
  animation-timing-function: ease;
  }
  @keyframes up2 {
  0%   { transform: translate(0,0); }
  100%  { transform: translate(-50px, -140px); }
  100% {opacity: 0}
}
.bubble4{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 700px;
  top: 480px;
  background: rgba(188, 116, 190, 0.55);
  border-radius: 25px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: up3;
  animation-timing-function: ease;
  }
  @keyframes up3 {
  0%   { transform: translate(0,0); }
  100%  { transform: translate(0px, -140px); }
  100% {opacity: 0}
}
.bubble5{
  position: absolute;
  width: 25px;
  height: 25px;
  left: 650px;
  top: 480px;
  background: rgba(188, 116, 190, 0.55);
  border-radius: 25px;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: up4;
  animation-timing-function: ease;
  }
  @keyframes up4 {
  0%   { transform: translate(0,0); }
  100%  { transform: translate(30px, -190px); }
  100% {opacity: 0}
}
.bubble6{
  position: absolute;
  width: 25px;
  height: 25px;
  left: 720px;
  top: 480px;
  background: rgba(188, 116, 190, 0.55);
  border-radius: 25px;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: up5;
  animation-timing-function: ease;
  }
  @keyframes up5 {
  0%   { transform: translate(0,0); }
  100%  { transform: translate(90px, -200px); }
  100% {opacity: 0}
}
.cup{
  position: absolute;
  left: 617px;
  top: 463px;
  z-index: 2;
}
.rectangle6{
  position: absolute;
  width: 62px;
  height: 17px;
  left: 627px;
  top: 854px;
  background: #58A859;
  border: 0.5px solid #000000;
}
.rectangle7{
  position: absolute;
  width: 34px;
  height: 61px;
  left: 823px;
  top: 810px;
  background: #99A9D7;
  border: 0.5px solid #000000;
}
.round1{
  position: absolute;
  width: 22px;
  height: 22px;
  left: 829px;
  top: 820px;
  background: #FFEA64;
  border: 0.5px solid #000000;
  border-radius: 50px;
}
.rectangle8{
  position: absolute;
  width: 12px;
  height: 33px;
  left: 563px;
  top: 811px;
  background: #879AC8;
  border: 0.5px solid #000000;
}
.tube{
  position: absolute;
  width: 205px;
  height: 736px;
  left: 1091px;
  top: 17px;
}
.rectangle10{
  position: absolute;
  width: 26px;
  height: 647px;
  left: 1232px;
  top: 112px;
  background: #DADADC;
  border: 0.5px solid #000000;
  border-radius: 13px;
}
.rectangle11{
  position: absolute;
  width: 192px;
  height: 21px;
  left: 1024px;
  top: 160px;
  background: black;
  border: 0.5px solid black;
}
.octagon {
  position: absolute;
  left: 1210px;
  top: 136px;
}
.octagon2{
  position: absolute;
  z-index: 1;
  left: 472px;
  top: 243px;
  animation: 5s linear 3s normal none infinite running rot;
  -webkit-animation: 5s linear 0s normal none infinite running rot;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.octagon2:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.rectangle12{
  position: absolute;
  width: 25px;
  height: 21px;
  left: 999px;
  top: 160px;
  background: #DADADD;
  border: 0.5px solid black;
}
.panel{
  position: absolute;
  width: 33px;
  height: 87px;
  left: 494px;
  top: 128px;
  background: black;
}
.panel1{
  position: absolute;
  width: 33px;
  height: 87px;
  left: 974px;
  top: 128px;
  background: black;
}
.panel2{
  position: absolute;
  width: 465px;
  height: 115px;
  left: 516px;
  top: 110px;
  background: black;
  border-radius: 30px;
}
.lattice{
  position: absolute;
  left: 556px;
  top: 131px;
}
.lines{
  position: absolute;
  left: 557px;
  top: 140px;
}
.button4{
  position: absolute;
  left: 840px;
  top: 141px;
  cursor: pointer;
}
.button4-1{
  position: absolute;
  left: 842px;
  top: 143px;
  opacity: 30%;
  cursor: pointer;
}

.button4-1:hover{
  opacity: 100%;

}
.button5{
  position: absolute;
  left: 840px;
  top: 165px;
  cursor: pointer;
}
.button5-1{
  position: absolute;
  left: 842px;
  top: 167px;
  opacity: 30%;
  cursor: pointer;
}
.button5-1:hover{
  opacity: 100%;
}
.button6{
  position: absolute;
  left: 840px;
  top: 189px;
  cursor: pointer;
}
.button6-1{
  position: absolute;
  left: 842px;
  top: 191px;
  opacity: 30%;
  cursor: pointer;
}
.button6-1:hover{
  opacity: 100%;
}
.circles_graph1{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 594px;
  top: 135px;
  background: #8B0084;
  border: 0.5px solid #000000;
  border-radius: 25px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: jump-1;
}
@keyframes jump-1 {
  0%   { transform: translate(0,0); }
  50%  { transform: translate(-30px,0); }
  100% { transform: translate(0,0);}
}
.circles_graph2{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 594px;
  top: 184px;
  background: #1F3359;
  border: 0.5px solid #000000;
  border-radius: 25px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: jump-2;
  animation-timing-function: ease;
}
@keyframes jump-2 {
  0%   { transform: translate(0,0); }
  50%  { transform: translate(30px, -30px); }
  100% { transform: translate(0,0); }
}
.circles_graph3{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  left: 637px;
  top: 135px;
  background: #A0B1DE;
  border: 0.5px solid #000000;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: jump-3;
  animation-timing-function: ease;
}
@keyframes jump-3 {
  0%   { transform: translate(0,0); }
  50%  { transform: translate(30px, 15px); }
  100% { transform: translate(0,0); }
}
.circles_graph4{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  border: 0.5px solid #000000;
  left: 681px;
  top: 184px;
  background: #4EA555;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: jump-4;
  animation-timing-function: ease;
}
@keyframes jump-4 {
  0%   { transform: translate(0,0); }
  50%  { transform: translate(-30px, 0px); }
  100% { transform: translate(0,0); }
}
.circles_graph5{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  border: 0.5px solid #000000;
  left: 727px;
  top: 184px;
  background: #FF9400;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: jump-5;
  animation-timing-function: ease;
}
@keyframes jump-5 {
  0%   { transform: translate(0,0); }
  50%  { transform: translate(25px, -30px); }
  100% { transform: translate(0,0); }
}
.circles_graph6{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  border: 0.5px solid #000000;
  left: 769px;
  top: 135px;
  background: #8B0084;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: jump-6;
  animation-timing-function: ease;
}
@keyframes jump-6 {
  0%   { transform: translatex(0); }
  50%  { transform: translatex(30px); }
  100% { transform: translatex(0); }
}
.overlay{
  position: absolute;
  width: 68px;
  height: 60px;
  left: 1203px;
  top: 535px;
}
.overlay1{
  position: absolute;
  width: 68px;
  height: 53px;
  left: 1209px;
  top: 600px;
}
.bluetube{
  position: absolute;
  width: 149px;
  height: 309px;
  left: 1142px;
  top: 454px;
}
.octagon3{
  position: absolute;
  left: 1122px;
  top: 548px;
  animation: 5s linear 3s normal none infinite running rot;
  -webkit-animation: 5s linear 0s normal none infinite running rot;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@keyframes rot {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
.octagon3:hover {
-webkit-animation-play-state: paused;
animation-play-state: paused;
}

.flashlight{
  position: absolute;
  width: 16px;
  height: 24px;
  left: 1177px;
  top: 733px;
  background: #FF9400;
  border: 0.5px solid black;
  border-radius: 8px;
  animation: blink 1.5s infinite;
}
@keyframes blink {
from { background-color: #FF9400;}
to { background-color: green; }
}
.flashlight1{
  position: absolute;
  width: 16px;
  height: 24px;
  left: 1288px;
  top: 733px;
  background: #FF9400;
  border: 0.5px solid black;
  border-radius: 8px;
  animation: blink 1s infinite;
}
.rectangle13{
  position: absolute;
  width: 129px;
  height: 125px;
  left: 1177px;
  top: 747px;
  background: black;
}
.rectangle14{
  position: absolute;
  width: 25px;
  height: 22px;
  left: 1281px;
  top: 847px;
  background: #FF9400;
}
.grid{
  position: absolute;
  width: 100px;
  height: 99px;
  left: 1191px;
  top: 761px;
}
.circle{
  position: absolute;
  width: 97px;
  height: 97px;
  left: 1191px;
  top: 761px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
}
.circle1{
  position: absolute;
  width: 64px;
  height: 64px;
  left: 1207px;
  top: 776px;
  background: #20315A;
  border: 0.5px solid black;
  border-radius: 50px;
}
.circle2{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1224px;
  top: 794px;
  background: #FFEA64;
  border: 0.5px solid black;
  border-radius: 20px;
}
.button7{
  position: absolute;
  left: 1285px;
  top: 849px;
}

.button8{
  position: absolute;
  left: 5000px;
  top: 129px;
  cursor: pointer;

}
.button81{
  position: absolute;
  width: 40px;
  height: 37px;
  left: 919px;
  top: 125px;
  cursor: pointer;
}
.button8-1{
  position: absolute;
  left: 926px;
  top: 134px;
  opacity: 30%;
  cursor: pointer;
}
.button8-1:hover{
  opacity: 100%;
}
.adapter2{
  position: absolute;
  width: 58px;
  height: 18px;
  left: 556px;
  top: 224px;
  background: #E4D88C;
  border: 0.5px solid #000000;
}
.blacktube{
  position: absolute;
  width: 130px;
  height: 204px;
  left: 577px;
  top: 263px;
}
.patch{
  position: absolute;
  width: 28px;
  height: 37px;
  left: 644px;
  top: 380px;
}
.question{
  position: absolute;
  width: 54px;
  height: 54px;
  left: 1335px;
  top: 35px;
}
.descr{
  display:none;
  padding:6px;
  background:#FFFFFF;
  border-radius: 10px;
  width: 222px;
  height: 125px;
  margin-left:-180px;
  margin-top: -60px;
}
.question:hover .descr{
  position:absolute;
  display:block;
  z-index:1;
}
.text{
  position: absolute;
  width: 206px;
  height: 64px;
  margin-left:30px;

  font-family: PT Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #000000;
}
.switch{
  position: absolute;
  width: 160px;
  height: 68px;
  left: 849px;
  top: 333px;
}
.compound{
  position: absolute;
  width: 26px;
  height: 23px;
  left: 572px;
  top: 243px;
}
.rectangle15{
  position: absolute;
  width: 58px;
  height: 19px;
  left: 556px;
  top: 224px;
  background: #E4D88C;
  border: 0.5px solid #000000;
}
.flask2{
  position: absolute;
  left: 896px;
  top: 111px;
}
.compound2{
  position: absolute;
  width: 40px;
  height: 39px;
  left: 1082px;
  top: 74px;
}
.rectangle15{
  position: absolute;
  width: 95px;
  height: 89px;
  left: 1054px;
  top: 144px;
  background: #8D9FCC;
  border: 0.5px solid black;
  border-radius: 17px;
}
.addition{
  position: absolute;
  width: 74px;
  height: 69px;
  left: 1064px;
  top: 155px;
}
.button9-1{
  position: absolute;
  left: 1068px;
  top: 202px;
  opacity: 30%;
  cursor: pointer;
}





.svg2{
  position: absolute;
  z-index: 1;
  height: 250px;
  width: 250px;
  left: 980px;
  top: 250px;
}
@keyframes move {
    0%   { transform: translateX(0px)  translateY(0px);   animation-timing-function: cubic-bezier(.15,.95,.7,.34); }
    10%  { transform: translateX(6px)  translateY(2px);   animation-timing-function: cubic-bezier(.75,.08,.42,.73); }
    20%  { transform: translateX(11px) translateY(-10px); animation-timing-function: cubic-bezier(.75,.08,.25,.29); }
    30%  { transform: translateX(5px)  translateY(-5px);  animation-timing-function: cubic-bezier(.31,.86,.93,.24); }
    40%  { transform: translateX(6px)  translateY(2px);   animation-timing-function: cubic-bezier(.91,.08,.31,.76); }
    50%  { transform: translateX(-2px) translateY(8px);   animation-timing-function: cubic-bezier(.73,.02,.7,.31); }
    60%  { transform: translateX(10px) translateY(15px);  animation-timing-function: cubic-bezier(.73,.02,0,.75); }
    70%  { transform: translateX(0px)  translateY(4px);   animation-timing-function: cubic-bezier(.39,.63,.39,.81); }
    80%  { transform: translateX(4px)  translateY(-1px);  animation-timing-function: cubic-bezier(.39,.63,.85,.6); }
    90%  { transform: translateX(0px)  translateY(0px);   animation-timing-function: cubic-bezier(.59,.08,.05,.83); }
    100% { transform: translateX(1px)  translateY(2px);   animation-timing-function: cubic-bezier(.21,.77,.47,.75); }
}

circle {
    animation: move 15s linear infinite;
}

#my-mask-1 {
    circle:nth-of-type(1) { animation-delay: 0;   }
    circle:nth-of-type(2) { animation-delay: -.5s; }
    circle:nth-of-type(3) { animation-delay: -1s; }
    circle:nth-of-type(4) { animation-delay: -1.5s; }
    circle:nth-of-type(5) { animation-delay: -2s; }
    circle:nth-of-type(6) { animation-delay: -2.5s; }
    circle:nth-of-type(7) { animation-delay: -3s; }
}

#my-mask-2 {
    circle:nth-of-type(7) { animation-delay: 0;   }
    circle:nth-of-type(6) { animation-delay: -1s; }
    circle:nth-of-type(5) { animation-delay: -2s; }
    circle:nth-of-type(4) { animation-delay: -3s; }
    circle:nth-of-type(3) { animation-delay: -4s; }
    circle:nth-of-type(2) { animation-delay: -5s; }
    circle:nth-of-type(1) { animation-delay: -6s; }
}
  #counter{
  position: absolute;
  left: 880px;
  top: 160px;
  /* font-family: Roboto;
  font-style: normal;
  line-height: 56px; */
  font-size: 48px;
  color: #E4D88C;
}
.footer{
  position: absolute;
  width: 1440px;
  height:69px;
  left: 0px;
  top: 868px;
  background: #554A6C;
}
.name{
  position: absolute;
  left: 41px;
  top: 13px;
  font-family: PT Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #B1A0D3;
}
.year{
  position: absolute;
  left: 1361px;
  top: 13px;
  font-family: PT Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #B1A0D3;
  }
.decoration{
  position: absolute;
  width: 694px;
  height: 72px;
  left: 480px;
  top: 477px;

}
.stop {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
.running{
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
